@model PagedList.IPagedList<SPGD.Models.Agent>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Liste des agents";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("S'inscrire en tant que nouvel agent", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Nom
        </th>
        <th>
            Prénom
        </th>
        <th>
            Téléphone 1
        </th>
        <th>
            Téléphone 2
        </th>
        <th>
            Courriel 1
        </th>
        <th>
            Courriel 2
        </th>
        <th>
            Adresse Bureau
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Prenom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Telephone1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Telephone2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Courriel1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Courriel2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AdresseBureau)
        </td>
        <td>
            @*@Html.ActionLink("Modifier", "Edit", new { id=item.AgentID }) |*@
            @Html.ActionLink("Détails", "Details", new { id=item.AgentID })
            @*@Html.ActionLink("Supprimer", "Delete", new { id=item.AgentID })*@
        </td>
    </tr>
}

    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }))


</table>
