@model SPGD.Models.RendezVou

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>RendezVou</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Completee)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Completee)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateHeureRendezVous)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateHeureRendezVous)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DureeRendezVousReel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DureeRendezVousReel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NbPhotoReel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NbPhotoReel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VisiteVirtuelleNbPanoramas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VisiteVirtuelleNbPanoramas)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VisiteImmersiveEstFaite)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VisiteImmersiveEstFaite)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Commentaire)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Commentaire)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Seance.StatusSeance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Seance.StatusSeance)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.RendezVouID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
