@*@model IEnumerable<SPGD.Models.Photographe>*@
@model SPGD.ViewModel.PhotographeData

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Photographes.First().Nom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Photographes.First().Prenom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Photographes.First().Telephone1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Photographes.First().Telephone2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Photographes.First().Courriel1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Photographes.First().Courriel2)
        </th>
        <th></th>
    </tr>
    

        @foreach (var item in Model.Photographes)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nom)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Prenom)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Telephone1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Telephone2)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Courriel1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Courriel2)
                </td>
                <td>
                    @Html.ActionLink("Select", "Index", new { id = item.PhotographeID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.PhotographeID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.PhotographeID })
                </td>
            </tr>
        }

    </table>


@if (Model.SeanceData != null)
{
    <h2>Les séances du photographe @ViewBag.SelectedPhotographePrenom @ViewBag.SelectedPhotographeNom</h2>
    @Html.Partial("PartialViewSeanceAvecRDV", Model.SeanceData)
}


