@model SPGD.Models.Seance

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Seance</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AgentID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AgentID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaisonID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaisonID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StatusSeance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StatusSeance)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TypeForfaitDeBaseVoulu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TypeForfaitDeBaseVoulu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NbPanoramasVoulu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NbPanoramasVoulu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VisiteImmersive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VisiteImmersive)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FraisDeBaseReel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FraisDeBaseReel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FraisDeDeplacement)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FraisDeDeplacement)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Commentaire)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Commentaire)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FraisAdditionnel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FraisAdditionnel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateDebutDeSeance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateDebutDeSeance)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateRemisePhoto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateRemisePhoto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateRemisePanoramas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateRemisePanoramas)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateDePaymentRecu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateDePaymentRecu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FraisPanoramas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FraisPanoramas)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FraisVisiteImmersive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FraisVisiteImmersive)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FraisSeanceTotal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FraisSeanceTotal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RendezVou.Commentaire)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RendezVou.Commentaire)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
