@*@model IEnumerable<SPGD.Models.Seance>*@
@model SPGD.ViewModel.SeanceData

@{
    ViewBag.Title = "Index";
}
<br />
@Html.ActionLink("S'inscrire en tant qu'agent", "Create", "Agents", new { @class="btn-lg"})
<h2>Catalogue des séances sans RDV</h2>
<p>
    @Html.ActionLink("Demander une séance", "Create")
</p>
@Html.Partial("PartialViewSeanceSansRDV", Model)

<h2>Catalogue des séances avec RDV</h2>
@Html.Partial("PartialViewSeanceAvecRDV", Model)


@*
<h2>Catalogue des séances</h2>

<p>
    @Html.ActionLink("Demander une séance", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Html.DisplayNameFor(model => model)
            Nom de l'agent
        </th>
        <th>
            Html.DisplayNameFor(model => model.MaisonID)
            Adresse de la maison
        </th>
        <th>
            Html.DisplayNameFor(model => model.StatusSeance)
            Status de la séance
        </th>
        <th>
            Forfait Demandé
        </th>
        
    <th>
        @Html.DisplayNameFor(model => model.NbPanoramasVoulu)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.VisiteImmersive)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.FraisDeBaseReel)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.FraisDeDeplacement)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.Commentaire)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.FraisAdditionnel)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.DateDebutDeSeance)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.DateRemisePhoto)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.DateRemisePanoramas)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.DateDePaymentRecu)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.FraisPanoramas)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.FraisVisiteImmersive)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.FraisSeanceTotal)
    </th>
        <th>
            @Html.DisplayNameFor(model => model.RendezVou.DateHeureRendezVous)
            Horaire du rendez-vous
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RendezVou.Commentaire)
            Commentaire
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.seancesAvecRDV)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AgentID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MaisonID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StatusSeance)
        </td>
        
            @Html.DisplayFor(modelItem => item.TypeForfaitDeBaseVoulu)
            @{var typeForfaitValeurNumerique = item.TypeForfaitDeBaseVoulu;}
            @if (typeForfaitValeurNumerique == 1)
            { 
                <td>Bronze</td>
            }
            @if (typeForfaitValeurNumerique == 2)
            { 
                <td>Argent</td>
            }
            @if (typeForfaitValeurNumerique == 3)
            { 
                <td>Or</td>
            }

    <td>
        @Html.DisplayFor(modelItem => item.NbPanoramasVoulu)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.VisiteImmersive)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.FraisDeBaseReel)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.FraisDeDeplacement)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Commentaire)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.FraisAdditionnel)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.DateDebutDeSeance)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.DateRemisePhoto)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.DateRemisePanoramas)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.DateDePaymentRecu)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.FraisPanoramas)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.FraisVisiteImmersive)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.FraisSeanceTotal)
    </td>
        <td>
            @Html.DisplayFor(modelItem => item.RendezVou.DateHeureRendezVous)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RendezVou.Commentaire)
        </td>
        <td>
            @if(item.StatusSeance == "Demandée")
            { 
            @Html.ActionLink("Créer un RendezVous","Create" , "RendezVous",  new { id=item.SeanceID }, null)
            }
            @if (item.StatusSeance == "Confirmée" || item.StatusSeance == "Reportée")
            {
                @Html.ActionLink("Consulter Rendez-Vous", "Edit", "RendezVous", new { id = item.SeanceID }, null)
            }
            
            |
            @Html.ActionLink("Details", "Details", new { id=item.SeanceID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.SeanceID })
                
        </td>
    </tr>
}

</table>*@
